/* A CodePen BY Shashikant Tripathi */
.loader-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-color: #000; */
}

.loader {
    width: 120px;
    height: 100%;
    margin: auto;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.load_dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: scale(0);
    -webkit-animation-name: scale;
    animation-name: scale;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-color: #7c3dee;
}

.d1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    /* background-color: #4285f4; */
}

.d2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    /* background-color: #34a853; */
}

.d3 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    /* background-color: #fbbc05; */
}

.d4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    /* background-color: #ea4335; */
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
