<div class="footer">

    <div class="footer_centered">

        <div class="copyright">
            <div class="copyright_text">Copyright</div>
            <div class="year">2019</div>
            <div class="copyright_icon">
                <img src="/svg/copyright_icon.svg" alt="copyright" width="114px" height="46px">
            </div>
        </div>

        <div class="footer_divider"><img src="/svg/footer_divider.svg" alt="divider"></div>

        <div class="reference_link">
            <div class="text">Inspired By:</div>
            <div class="reference_website_link">
                <a style="text-decoration: none; color: #ffffff" href="https://www.designlife.fm/community"
                    target="_blank" rel="designlife">https://www.designlife.fm/community</a>
            </div>
        </div>

    </div>
</div>