<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="ISO 639-1">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Dhyeythumar">
    <meta name="description" content="Eyers is a search engine aim provide better search results.">

    <title>Eyers &bull; <%= pageTitle %></title>
    <!-- <link rel="shortcut icon" type="/x-icon" href="./resources/jim/images/common/favicon.ico" sizes="128x128"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loader.css">